{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>3D Truck Loader</title>
  <style>
    body { margin: 0; overflow: hidden; }
    canvas { display: block; width: 100vw; height: 100vh; }
  </style>
   <script type="importmap">
  {
    "imports": {
      "three": "https://cdn.jsdelivr.net/npm/three@0.168/build/three.module.js",
      "three/examples/jsm/": "https://cdn.jsdelivr.net/npm/three@0.168/examples/jsm/"
    }
  }
  </script>
</head>
<body>
  <canvas id="scene"></canvas>
  <p>Hey what's up</p>

  <!-- Include Three.js and your script -->
  <script type="module" src="{% static 'viewer/js/main.js' %}"></script>
</body>
</html>


